*{
    margin: 0;
    min-width: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    width: 100%;
}
body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
}